---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Baldwin County Young Adults"
	description="About Us"
	pubDate={new Date('May 20th 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		We are a collective group of Young Adults from different churches in Southern Baldwin County 
                coming together once a month to have worship and fellowship
	</p>

	<p>
		
	</p>

	<p>
		
	</p>

	<p>
		
	</p>

	<p>
		
	</p>
</Layout>
